.custom-table {
    /* border-collapse:separate; */
    border:solid black 2px;
    border-radius:6px;
    -moz-border-radius:6px;
    /* width: 100%; */
}

.custom-table tbody{
    display: block;
    min-height: 500px;
    /* width: 100%; */
}

.custom-table tr:first-child {
    border-bottom:solid black 2px;
}

.custom-table td {
    border-left:solid black 2px;
    padding: 3px;
    text-align: left;
    width: 100px;
}

.custom-table td:first-child{
    border-left: none;
}
.custom-table td:nth-child(2){
    width:700px
}

.custom_table {
    border-collapse:separate;
    border:solid black 2px;
    border-radius:6px;
    -moz-border-radius:6px;
    width: 100%;
}

.custom_table th {
    border-left:solid black 2px;
    border-bottom:solid black 2px;

}

.custom_table td {
    border-left:solid black 2px;
}

 .custom_table td:first-child,  .custom_table th:first-child {
    border-left: none;
}

 .custom_table td,  .custom_table th{
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}


.table_fixed_height {
    table-layout: fixed;
    min-height:200px;
}
.sombreado {
    border: 1px solid black;
    box-shadow: 5px 5px 1px #000000;
}

.radius_border {
    border:solid black 2px;
    border-radius:6px;
    -moz-border-radius:6px;
}

.blue_text {
    color: blue;
}

.radius_border_min{
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:3px;
}
