.custom_table {
    border-collapse:separate;
    border:solid black 2px;
    border-radius:6px;
    -moz-border-radius:6px;
    width: 100%;
}


.table_fixed_height {
    table-layout: fixed;
    min-height:200px;
}

.custom_table th {
    border-left:solid black 2px;
    border-bottom:solid black 2px;

}

.custom_table td {
    border-left:solid black 2px;
}

 .custom_table td:first-child,  .custom_table th:first-child {
    border-left: none;
}

 .custom_table td,  .custom_table th{
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.sombreado {
    border: 1px solid black;
    box-shadow: 5px 5px 1px #000000;
}

.radius_border {
    border:solid black 2px;
    border-radius:6px;
    -moz-border-radius:6px;
}

.blue_text {
    color: blue;
    text-decoration: underline;
}

.radius_border_min{
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:3px;
}
.custom_table{
border-collapse: collapse;
}

.empty{

border-collapse: collapse;
border: 1px solid black;
height: 35px;


}
