/*
 * JS ADDONS - CUSTOM BACKEND STYLES
 */

div.tab-content.nav.nav-tabs .tab-pane > div.oe_button_box,
div.tab-content.nav.nav-tabs .tab-pane > div.btn-group{
    margin-top: 10px;
}

div.tab-content.nav.nav-tabs .tab-pane > p.dicontinued-warning{
    margin-top: 16px;
}

button.btn + button.btn:not(.o_form_invisible):not(.oe_stat_button):not(:last-child){
    margin-right: 3px;
}

.btn-group > button.btn{
    margin-right: 0 !important;
}
