<html>
    <head>

            <style type="text/css">
                .product_label{
                    float: left;
                    height: 82.3mm;
                    width: 57.8mm;
                    border: 1px solid rgb(235, 19, 19)
                }
            </style>
    </head>
    <body>

        <div class="page">
                <div class="product_label">
                    <span>CHAQUETA SUPER JIM GLAM MUJER</span>
                </div>
                <div class="product_label">
                        <span>CHAQUETA SUPER JIM GLAM MUJER</span>
                </div>
                <div class="product_label">
                        <span>CHAQUETA SUPER JIM GLAM MUJER</span>
                </div>

                <div class="product_label">
                        <span>CHAQUETA SUPER JIM GLAM MUJER</span>
                    </div>
                    <div class="product_label">
                            <span>CHAQUETA SUPER JIM GLAM MUJER</span>
                    </div>
                    <div class="product_label">
                            <span>CHAQUETA SUPER JIM GLAM MUJER</span>
                    </div>  <div class="product_label">
                            <span>SUDADERA SUPER JIM TORQUE</span>
                    </div>
                    <div class="product_label">
                            <span>SUDADERA SUPER JIM TORQUE</span>
                    </div>
    </div>
    </body>
</html>