/* FIX FORM FIELDS STYLES */

#categorization_actions button{
    margin-left: 10px;
}

#categorization_fields{
    tbody td{
        vertical-align: middle;
        border-bottom: 1px solid #DDD;
        padding: 4px !important;

        label{
            font-variant: all-small-caps;
            vertical-align: middle;
            margin-bottom: 2px;
            line-height: 1em;
        }

        .o_form_field{
            margin-bottom: 0 !important;
        }

        .o_horizontal_separator{
            margin-bottom: 15px;
        }
    }

    span.o_form_field{
        margin-bottom: 0;
        line-height: normal;
    }
}
