<?xml version="1.0" encoding="UTF-8"?>
<odoo>

	<!-- CONFIGURACIÓN -->

	<record id="b2b_settings" model="ir.ui.view">
		<field name="name">General Settings</field>
		<field name="model">base.config.settings</field>
		<field name="inherit_id" ref="base_setup.view_general_configuration"/>
		<field name="arch" type="xml">
			<xpath expr="//form" position="inside">
				<group string="B2B Synchronization" groups="base_technical_features.group_technical_features">
					<field name="b2b_conexion_error" class="oe_inline" />
					<field name="b2b_response_error" class="oe_inline" attrs="{'invisible': [('b2b_conexion_error','=',False)]}" />
				</group>
			</xpath>
		</field>
	</record>
</odoo>