.telesale  #leftpart .order-container .order-line-table th.header-product{
    width: 25%;
}

.telesale  #leftpart .order-container .order-line-table th.header-global-stock{
    width: 5%;
}
.telesale  #leftpart .order-container .order-line-table td.col-global-stock{
    text-align: right;
}

/* Ocultamos la columna unidad */
.telesale #leftpart .order-container .order-line-table th.header-unit{
    display: none;
}
.telesale  #leftpart .order-container .order-line-table td.cell-unit{
    display: none;
}