/**
 * EDITOR ACE
 **/

pre.ace_editor {
    border-radius: 5px;

    & > div.ace_gutter {
        border-radius: 5px 0 0 5px;
    }

    span.ace_fold-widget.ace_closed {
        background-color: yellow !important;
    }
}

/**
 * CORRECCIONES EN FORMULARIOS
 **/

.o_form_view {
    .o_notebook {
        margin-top: 20px;
    }

    .o_form_field.o_form_field_many2one .o_external_button {
        margin-left: 5px;
    }

    .o_form_sheet_bg .o_form_sheet {
        padding: 38px;
    }

    .o_group {
        .o_group_col_6{
            width: 49%;
            margin-left: 2%;
        }

        .o_group_col_6:first-child {
            margin-left: 0;
        }

        .o_td_label + td {
            padding: 2px 0 2px 8px;
        }

        .o_form_label{
            min-height: 27px;
        }
    }
}

/**
 * MODIFICACIONES PARA VENTANA MODAL
 **/

.modal-content {
    min-width: 340px;

    .o_form_view{
        .o_form_sheet_bg > .o_form_sheet {
            min-width: 100%;
        }

        .oe_avatar > img {
            max-width: 110px;
            min-height: 110px;
            max-height: none;
        }

        .oe_avatar + .oe_title,
        .oe_avatar + .oe_title + .oe_other {
            padding-left: 115px;
            margin-left: 5px;
        }
    }
}

/**
 * MODIFICACIONES PARA PESTAÑA DE IMÁGENES
 **/

.tab-pane {
    .o_x2m_control_panel {
        margin: 8px 4px;
    }

    .o_kanban_view .o_kanban_record, .o_kanban_view .o_kanban_quick_create {
        padding: 8px;
        border: 1px solid #E5E5E5;
        background-color: white;
    }

    .product_image_tags span.o_tag{
        display: block !important;
        color: @brand-primary;
    }

    @media (max-width: 767px){
        .o_x2m_control_panel {
            margin: 8px 0;
        }

        .o_kanban_record {
            margin: 4px 0;
        }
    }
}

/**
 * SELECTOR DE COLORES NATIVO
 **/

input.o_form_colorselect{
    width: 100%;
    height: 100%;
}